/*
 * Globals
 */

body {
    font-family: 'Roboto', sans-serif;
}

textarea,
input[type=submit],
input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/*
 * Base.html
 */

 .container {
    width: 60%;
    margin: auto;
}

 /*
 * Index.html
 */

 .index_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 56px);
}

.create_post_header {
    margin-top: 60px;
    text-align: center;
}

.inputs {
    border: 1px solid #ccc;
    display: block;
    width: 50%;
    margin: 6px auto;
    /* box-sizing used to align inputs with button width */
    box-sizing: border-box;
}

.sub_button {
    display: block;
    width: 50%;
    background-color: Transparent;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.no_post_header {
    margin-top: 50px;
    text-align: center;
}

.post_header {
    margin-top: 50px;
    text-align: center;
}

.solo_post_div {
    border: 1px solid #ccc;
    margin: 20px 0px;
}

.post_title {
    width: 80%;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.post_author {
    text-align: center;
    margin: 0;
    padding: 10px 0px;
}

.post_content {
    width: 80%;
    margin: 16px auto;
}

.post_created {
    font-size: .75em;
    width: 80%;
    margin: 16px auto;
}

.icon_div {
    text-align: right;
    margin: 12px 6px 6px 0px;
}

#icon_edit {
    width: 22px;
    margin-right: 6px;
}