body {
    font-family: 'Roboto', sans-serif;
}

textarea,
input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.container {
    width: 60%;
    margin: auto;
}

.solo_post_div {
    border: 1px solid #ccc;
    margin: 20px 0px;
}

.post_title {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.post_author {
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.post_content {
    width: 80%;
    margin: 16px auto;
}

.no_post_header {
    margin-top: 50px;
}

.labels {
    display: block;
    margin: 12px 0px 6px;
}

.inputs {
    border: 1px solid #ccc;
    display: block;
    width: 30%;
}

.sub_button {
    display: block;
    margin-top: 18px;
    width: 100px;
}