{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="index_box">
    <div role="main" class="inner cover">
        <h1 class="cover-heading">Justin's personal blog.</h1>
        <p class="lead">Here is my personal site to document my day to day
            activities in regards to web design, development, programming,
            mainly all things coding related.</p>
        <p class="lead">
            <a href="/posts" class="btn btn-lg btn-secondary">To the posts!</a>
        </p>
    </div>
</div>

{% endblock %}